sxmadb/schema.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://navi.picogui.org/sxmadb" xmlns="http://navi.picogui.org/sxmadb" elementFormName="qualified">

<xs:element name="stance">
  <xs:attribute name="side">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="right"/>
        <xs:enumeration value="left"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:simpleType>
    <xs:restriction base="xs:string">
      <xs:enumeration value="natural"/>
      <xs:enumeration value="neutral bow"/>
      <xs:enumeration value="forward bow"/>
      <xs:enumeration value="rear bow"/>
      <xs:enumeration value="close kneel"/>
      <xs:enumeration value="wide kneel"/>
      <xs:enumeration value="engaged"/>
      <xs:enumeration value="cat"/>
      <xs:enumeration value="twist"/>
    </xs:restriction>
  </xs:simpleType>
</xs:element>

<xs:element name="kick">
  <xs:attribute name="side">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="right"/>
        <xs:enumeration value="left"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:simpleType>
    <xs:restriction base="xs:string">
      <xs:enumeration value="front snap"/>
      <xs:enumeration value="back thrusting heel"/>
      <xs:enumeration value="downward looping roundhouse"/>
      <xs:enumeration value="knife-edge side"/>
      <xs:enumeration value="scoop"/>
    </xs:restriction>
  </xs:simpleType>
</xs:element>

<xs:element name="block">
  <xs:attribute name="side">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="right"/>
        <xs:enumeration value="left"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:simpleType>
    <xs:restriction base="xs:string">
      <xs:enumeration value="hammering inward"/>
      <xs:enumeration value="vertical inward"/>
      <xs:enumeration value="palm heel"/>
      <xs:enumeration value="upward"/>
      <xs:enumeration value="vertical outward"/>
      <xs:enumeration value="extended outward"/>
    </xs:restriction>
  </xs:simpleType>
</xs:element>

<xs:element name="parry">
  <xs:attribute name="side">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="right"/>
        <xs:enumeration value="left"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:simpleType>
    <xs:restriction base="xs:string">
      <xs:enumeration value="inward"/>
      <xs:enumeration value="outward"/>
    </xs:restriction>
  </xs:simpleType>
</xs:element>

<xs:element name="strike">
  <xs:attribute name="side">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="right"/>
        <xs:enumeration value="left"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:simpleType>
    <xs:restriction base="xs:string">
      <xs:enumeration value="straight punch"/>
      <xs:enumeration value="reverse punch"/>
      <xs:enumeration value="vertical reverse punch"/>
      <xs:enumeration value="outward back knuckle"/>
      <xs:enumeration value="uppercut"/>
      <xs:enumeration value="chopping punch"/>

      <xs:enumeration value="outward hand sword"/>
      <xs:enumeration value="inward hand sword"/>
      <xs:enumeration value="downward hand sword"/>
      <xs:enumeration value="obscure hand sword"/>

      <xs:enumeration value="thrusting palm heel"/>
      <xs:enumeration value="inward horizontal palm heel"/>
      <xs:enumeration value="inward circular palm heel claw"/>

      <xs:enumeration value="inward horizontal elbow"/>

      <xs:enumeration value="back hammer fist"/>
    </xs:restriction>
  </xs:simpleType>
</xs:element>

</xs:schema>
